* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #092457;
  background: radial-gradient(circle, #0f3e94 0%, #114dbb 30%, #05a1fc 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: #f8f9fa;
}

ul,
ol {
  list-style: square;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: #0e3f98;
  border: none;
  border-radius: 15px;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.8rem 2.5rem;
  transition: all 0.2s;
}

button:hover {
  background-color: #225bc5;
}

input,
textarea,
select {
  font-family: inherit;
  border: none;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  transition: all 0.2s;
}

main {
  background: linear-gradient(0deg, #ff7500 0%, #ffaa00 100%);
  border-radius: 25px;
  box-shadow: 0px 0px 15px #0a2b68;
  padding: 15px 35px 30px 35px;
  max-height: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7rem;
  margin-bottom: 25px;

  img {
    width: 45%;
  }

  p {
    font-size: 1.2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  margin: 1rem;
  padding: 1rem;
  gap: 1.5rem;

  div {
    display: flex;
    flex-direction: row;
  }

  label {
    padding-right: 0.5rem;
  }

  input {
    border: 2px solid #e25b01;
    border-radius: 5px;
    padding-left: 10px;
  }

  input:focus {
    border: 2px solid #0e3f98;
  }
}

.form-section {
  gap: 1.3rem;
}

.classification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  border: 2px solid #f8f9fa81;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #14141450;
  margin-bottom: 25px;
  padding: 0 30px 0 30px;
  font-size: 0.9rem;
  gap: 1.5rem;

  span {
    font-size: 3.3rem;
    font-weight: bold;
  }

  p:first-child {
    font-style: italic;
    font-size: 1.1rem;
    font-weight: bold;
  }

  p:last-child {
    line-height: 1rem;
    text-align: justify;
    text-justify: newspaper;
  }
}

.tips {
  margin: 15px 20px 10px 20px;

  li {
    text-align: initial;
    line-height: 1.3rem;
  }
}

article {
  background: linear-gradient(0deg, #ffaa00 70%, #ff7500 100%);
  border-radius: 25px;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
